spring:
  application:
    name: servicio-pedidos
  datasource:
    url: ${URL_BD_PEDIDOS}
    username: ${USUARIO_PEDIDOS}
    password: ${CONTRASENA_PEDIDOS}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

eureka:
  client:
    service-url:
      defaultZone: ${URL_EUREKA}

server:
  port: 8082

management:
  endpoints:
    web:
      exposure:
        include: "health,info"